.firstRow {
  font-size: 20px;
  background-image: url('../images/doodles.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.85);
  background-blend-mode: lighten;
}
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}

#overlay {
  position: fixed; 
  display: none; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* right: 0;
  bottom: 0; */
  background-color: rgba(10,10,10,0.9); 
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-2 {
  margin-left: 90px;
}
.col-md-12 {
  margin-left: 180px;
}

.col-md-3 {
  margin-right: 30px;
}

/* svg rect {
    fill: rgb(233, 233, 32);
} */

svg text {
    fill:DarkSlateGrey;
    font: 20px sans-serif;
    text-anchor: end;
}
.clusterize-scroll{
  border:2px solid lightgrey;
}


.tooltipText{
  /* position: relative; */
  visibility: hidden;
  width: 150px;
  background-color: rgba(10,10,10,0.6); 
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 3px 0;
  font: 11px sans-serif;
  position: absolute;
  z-index: 1;
}
.toolLeft{
  transform: translateY(-120%)
}
.toolTop{
  transform: translateY(-120%)
}
.toolBot{
  transform: translateY(120%)
}
.toolSlide{
  transform: translateY(60%)
}
.toolAs{
  transform: translateY(-120%);
}
.toolCon{
  transform: translateY(80%);
}
