.firstRow {
  font-size: 20px;
  background-image: url('../images/doodles.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-color: rgba(255,255,255,0.85);
  background-blend-mode: lighten;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10,10,10,0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  /* cursor: pointer; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-2 {
  margin-left: 60px;
}
.col-md-12 {
  margin-left: 130px;
}

.col-md-3 {
  margin-right: 60px;
}

/* svg rect {
    fill: rgb(233, 233, 32);
} */

svg text {
     fill:AliceBlue;
    font: 20px sans-serif;
    text-anchor: end;
}


